.holder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
    margin: auto;
}
.description{
    width: 40vw;
}
.myZone{
    display: flex;
    flex-direction: column;
}
.like{
    width: 100px;
    height: 100px;
}
.liked{
    filter: invert(12%) sepia(91%) saturate(7486%) hue-rotate(360deg) brightness(102%) contrast(118%);
    transition-duration: 1s;
}